# Importing the required libraries and then reading the datafile

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv("latest.csv")

Droppping redundant columns show_to_affiliates as it was True, trip_class was always 0 and actual was always True irrespective of the state

In [ ]:
df=df.drop('show_to_affiliates',axis=1)

In [ ]:
df=df.drop('trip_class',axis=1)

In [ ]:
df=df.drop('actual',axis=1)

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance
0,173,YVR,YTO,Mytrip.com,2022-08-08,2022-08-15,0,2021-11-27T01:56:03,570,3346
1,184,YVR,YTO,Mytrip.com,2022-03-09,2022-03-17,0,2021-11-25T03:41:11,590,3346
2,188,YVR,YTO,Mytrip.com,2022-02-01,2022-02-04,0,2021-11-23T16:20:14,590,3346
3,192,YVR,YTO,Mytrip.com,2022-01-29,2022-01-31,0,2021-11-27T08:04:57,590,3346
4,194,YVR,YTO,Gotogate,2022-01-28,2022-01-31,0,2021-11-27T08:16:47,591,3346

Dropping duplicates

In [ ]:
df=df.drop_duplicates()

Converting into datetime format

In [ ]:
df['found_at']=df['found_at'].apply(lambda x:x[:10])

In [ ]:
df['found_at']=pd.to_datetime(df['found_at'])

Getting the difference in days and creating a column days to departure which is a difference between depart_Date and found_at date

In [ ]:
df['depart_date']=pd.to_datetime(df['depart_date'])
df['depart_date']=pd.to_datetime(df['depart_date'],format='%Y%m%d', errors='coerce')
df['days_to_departure']=df['depart_date']-df['found_at']
df['days_to_departure']=df['days_to_departure'].dt.days

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance,days_to_departure
0,173,YVR,YTO,Mytrip.com,2022-08-08,2022-08-15,0,2021-11-27,570,3346,254
1,184,YVR,YTO,Mytrip.com,2022-03-09,2022-03-17,0,2021-11-25,590,3346,104
2,188,YVR,YTO,Mytrip.com,2022-02-01,2022-02-04,0,2021-11-23,590,3346,70
3,192,YVR,YTO,Mytrip.com,2022-01-29,2022-01-31,0,2021-11-27,590,3346,63
4,194,YVR,YTO,Gotogate,2022-01-28,2022-01-31,0,2021-11-27,591,3346,62

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance,days_to_departure
0,173,YVR,YTO,Mytrip.com,2022-08-08,2022-08-15,0,2021-11-27,570,3346,254
1,184,YVR,YTO,Mytrip.com,2022-03-09,2022-03-17,0,2021-11-25,590,3346,104
2,188,YVR,YTO,Mytrip.com,2022-02-01,2022-02-04,0,2021-11-23,590,3346,70
3,192,YVR,YTO,Mytrip.com,2022-01-29,2022-01-31,0,2021-11-27,590,3346,63
4,194,YVR,YTO,Gotogate,2022-01-28,2022-01-31,0,2021-11-27,591,3346,62

Selecting the NVC-->LAS route for our problem as this route has the maximum number of flights

In [ ]:
df=df[df['origin']=='NYC']

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance,days_to_departure
219,277,NYC,YTO,Kiwi.com,2021-12-13,2021-12-14,1,2021-11-27,699,586,16
220,280,NYC,YTO,MyHolidays,2022-02-05,2022-02-08,1,2021-11-28,1116,586,69
221,303,NYC,YTO,KupiBilet.ru,2021-12-11,2021-12-12,1,2021-11-27,316,586,14
222,322,NYC,YTO,Trip.com,2021-11-27,2021-12-04,1,2021-11-22,795,551,5
223,327,NYC,YTO,Trip.com,2021-12-04,2021-12-11,1,2021-11-22,498,551,12

In [ ]:
df=df[df['destination']=='LAS']

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance,days_to_departure
3243,188,NYC,LAS,Wingie,2022-01-14,2022-01-27,1,2021-11-23,896,3607,52
3244,203,NYC,LAS,Trip.com,2022-01-07,2022-01-12,0,2021-11-27,646,3607,41
3245,206,NYC,LAS,Kiwi.com,2021-12-03,2021-12-04,1,2021-11-24,1283,3607,9
3246,215,NYC,LAS,Aviakassa,2022-01-28,2022-01-31,2,2021-11-26,1821,3607,63
3247,239,NYC,LAS,Kiwi.com,2021-12-02,2021-12-07,1,2021-11-28,848,3607,4

Sorting the dataframe based on days_to_departure so as to feed the Qlearning algorithm for time series analysis in descending order

In [ ]:
df=df.sort_values('days_to_departure',ascending=False)

In [ ]:
df.head()

,value,origin,destination,gate,depart_date,return_date,number_of_changes,found_at,duration,distance,days_to_departure
22850,810,NYC,LAS,Kissandfly,2022-10-22,2022-10-29,2,2021-11-17,3930,3593,339
18955,811,NYC,LAS,Kissandfly,2022-10-22,2022-10-29,2,2021-11-17,3930,3593,339
15220,805,NYC,LAS,Kissandfly,2022-10-22,2022-10-29,2,2021-11-17,3930,3593,339
18898,419,NYC,LAS,Kiwi.com,2022-10-08,2022-10-10,1,2021-11-13,1450,3593,329
15188,479,NYC,LAS,Wingie,2022-10-08,2022-10-10,0,2021-11-20,623,3593,322

In [ ]:
len(df)

584

Converting the dataframe to a list of tuples

In [ ]:
list_tuples=list(df.itertuples(name='Row', index=False))

In [ ]:
def createEpsilonGreedyPolicy(Q, epsilon, num_actions):
    """
    Creates an epsilon-greedy policy based
    on a given Q-function and epsilon.
       
    Returns a function that takes the state
    as an input and returns the probabilities
    for each action in the form of a numpy array 
    of length of the action space(set of possible actions).
    """
    def policyFunction(state):
   
        Action_probabilities = np.ones(num_actions,
                dtype = float) * epsilon / num_actions
                  
        best_action = np.argmax(Q[state])
#         print(best_action)
        Action_probabilities[best_action] += (1.0 - epsilon)
#         print(Action_probabilities)
        return Action_probabilities
   
    return policyFunction

In [ ]:
print(list_tuples[0])

Row(value=810, origin='NYC', destination='LAS', gate='Kissandfly', depart_date=Timestamp('2022-10-22 00:00:00'), return_date='2022-10-29', number_of_changes=2, found_at=Timestamp('2021-11-17 00:00:00'), duration=3930, distance=3593, days_to_departure=339)

Creating the step function to associate rewards and next_State with each step

reward=-300000 if flight is sold out
reward=-value if action is buy that is 1
reward is 0 if action is wait that is 0

In [ ]:
def stepx(action,ith_episode):
  if(list_tuples[ith_episode].days_to_departure<=0) or ith_episode==len(list_tuples)-1:
    reward=-300000
    done=True
    next_state="null"
  elif(action==0):
    reward=0
    done=False
    next_state=list_tuples[ith_episode+1]
  elif(action==1):
    reward=-(list_tuples[ith_episode].value)
    done=False
    next_state=list_tuples[ith_episode+1]
  return next_state,reward,done,"null"

In [ ]:
from collections import defaultdict

In [ ]:
from collections import namedtuple

Creating the Qlearning algorithm to find the Qvalues for each state, here the discount factor is taken as 1 to maximize future discounts, alpha is the learning rate and epsilon is the input given to the epsilon greedy policy.

In [ ]:
def qLearning(df, num_episodes, discount_factor = 1.0,alpha = 0.6, epsilon = 0.1):
    """
    Q-Learning algorithm: Off-policy TD control.
    Finds the optimal greedy policy while improving
    following an epsilon-greedy policy"""
       
    # A nested dictionary that maps
    # state -> (action -> action-value).
    Q = defaultdict(lambda: np.zeros(2)))

    # # Keeps track of useful statistics
    EpisodeStats = namedtuple("Stats",["episode_lengths", "episode_rewards"])
    stats = EpisodeStats(
        episode_lengths = np.zeros(num_episodes),
        episode_rewards = np.zeros(num_episodes))    
       
    # Create an epsilon greedy policy function
    # appropriately for environment action space
    policy = createEpsilonGreedyPolicy(Q, epsilon, 2)
       
    for ith_episode in range(num_episodes):
           
        state = list_tuples[ith_episode]
           
        for t in range(1,10000):
               
            # get probabilities of all actions from current state
            action_probabilities = policy(state)
   
            # choose action according to 
            # the probability distribution
            action = np.random.choice(np.arange(len(action_probabilities)),p = action_probabilities)
   
            # take action and get reward, transit to next state
            next_state, reward, done, _ = stepx(action,ith_episode)
   
            # Update statistics
            stats.episode_rewards[ith_episode] += reward
            stats.episode_lengths[ith_episode] = t
               
            # TD Update
            best_next_action = np.argmax(Q[next_state])    
            td_target = reward + discount_factor * Q[next_state][best_next_action]
            td_delta = td_target - Q[state][action]
            Q[state][action] += alpha * td_delta
   
            # done is True if episode terminated   
            if done:
                break
                   
            state = next_state
            # print(Q)
       
    return Q, stats

Calling qlearning to get the Qvalues and stats

In [ ]:
Q,stats = qLearning(list_tuples, len(list_tuples))

In [ ]:
print(type(Q))

<class 'collections.defaultdict'>

In [ ]:
print(len(Q[1]))

584

Writing the Q values to a csv to be used later

In [ ]:
import csv
w = csv.writer(open("output4.csv", "w"))

# loop over dictionary keys and values
for key, val in Q.items():
    # write every key and value to file
    w.writerow([key, val])